.theme {
  background-color: #fff;
  .bg-header {
    background-color: #0081ff;
    color: #fff;
  }
  .bg-footer {
    background-color: #000;
    color: #fff;
  }
  .bg-footer-active {
    color: #39b54a;
  }
}
